/*******************************
GLOABAL
*******************************/
* {
  box-sizing: border-box;
}
body {
  /* background-image: url('./images/possm-hero.jpg'); */
  height: 200vh;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/*******************************
Navebar 
*******************************/
.grid-container {
  border: 3px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list li {
  margin: 0 1.25rem;
}
/*******************************
Social
*******************************/
.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-list li {
  display: flex;
  justify-: space-between;
  align-items: center;
}
